<html>
<head>
	<title>Login Page</title>
</head>
<body>
<div class="container">
	<h1>Please login</h1>
	<br>
	<form action="" method="post">
		<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
		<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
		<input type="submit" value="Login!">
	</form>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
	<br>
	<i>Don't have an account? <a href="{{url_for('signup')}}">Sign-up here</a></i>
</div>
</body>
</html>
